/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
  --title-color:  #FFC2E6;
  --sub-title-color: #353430;
  --main-text-color: #353430;
  --bg-color: #FFF1F7;

  .header__theme-menu-button_type_light {
    border: 1px solid var(--main-text-color);
  }

  .article__title {
    color: var(--sub-title-color);  
  }

  .useless__decor-text, .useless__decor_circle {
    display: none;
  }

  .useless__decor_upright_halfsquare {
    border-top: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
  }

  .useless__decor_downleft_halfsquare {
    border-bottom: 1px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
  }

  .header__theme-menu-button{
    color: var(--main-text-color);
  }

}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    --title-color:  #FFC2E6;
    --sub-title-color: #353430;
    --main-text-color: #353430;
    --bg-color: #FFF1F7;
    /* Дублируем переменные светлой темы */    
    }
   
  
    .article__title {
      color: var(--sub-title-color);  
    }
  
    .useless__decor-text, .useless__decor_circle {
      display: none;
    }
  
    .useless__decor_upright_halfsquare {
      border-top: 1px solid var(--main-text-color);
      border-right: 1px solid var(--main-text-color);
    }
  
    .useless__decor_downleft_halfsquare {
      border-bottom: 1px solid var(--main-text-color);
      border-left: 1px solid var(--main-text-color);
    }
  
    .header__theme-menu-button{
      color: var(--main-text-color);
    }
}