/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

body {
  max-inline-size: 1024px;/*ограничим 1024px  375 768 - ОТЛАДКА!!!*/
  background-color: var(--bg-color);
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font), monospace;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-image: var(--background-image);
  background-size: cover;
  background-position: bottom;
}

/* Пойдем по пути от мобильной версии и темной темы - это всем нравится */

.header {
  display: grid;
  block-size: 100vh; /* 100vh высота 668px на 375,  высота 1024 на 768;*/
  min-block-size: 668px; /*штатно min! - ОТЛАДКА!!!  идем от мобильной версии ToDo - добавить для других разрешений экранов замечание строка 23 - ОТЛАДКА!!!  668 768 1024  - ОТЛАДКА!!!*/
  /*max-block-size: 1024px; *//*отладка, удалить строку* 668 */
  padding: var(--padding-s);
  grid-template-columns: 1fr; /**/
  grid-template-rows: auto 1fr auto 1fr auto; /*26px на всех разрешениях - заменил на auto*/
  margin-bottom: var(--marging-s);
}

.useless__decor_test {
  position: relative;
  /*пустой класс для тестирования через него рисуем уголки*/
}

.useless__decor_test::before {
  content: '';
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  width: 26px;
  height: 26px;
  grid-row: 1;
  grid-column: -2;
  justify-self:last baseline;
}

.useless__decor_test::after {
  content:'';
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  width: 26px;
  height: 26px;
  grid-row: -2;
  align-self:last baseline ;
}

.footer.useless__decor_test::before {
  content: '';
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  width: 26px;
  height: 26px;
  grid-row: 1;
  grid-column: -1;
  justify-self:last baseline;
}

.recording_sign {
  position: absolute;
  top: calc(var(--padding-s) + 2px);
  right:  calc(var(--padding-s) + 20px);
}

.recording_sign::before {
  content:'REC';
  font-size: 18px;
  color: var(--decor-color);
  padding-right: 10px;
}

.recording_sign::after {
  content:'';
  position: absolute;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  margin-top: 7px;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  margin-bottom: 25px;
}

/*этот блок неизменен 375 - 768, шрифты, размеры - остаются*/
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--decor-color);
  text-transform: lowercase;
  width: 70px; /*везде*/
  height: 26px; /*везде*/
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decor-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid color(from var(--decor-color) srgb r g b /0.4);
  cursor: pointer;
}

.header__theme-menu-list .header__theme-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.text__logo {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*116px at 375 условие для 375 - 768  - ОТЛАДКА!!!*/
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  text-transform: lowercase;
  align-self: center;
}

.footer .text__logo {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color:  var(--sub-title-color);
  background-color: var(--accent-color);
  align-self: center;
  text-align: left;
  margin-top: 25px;
}

.section {
  padding-left: var(--padding-s);
  padding-right: var(--padding-s);
  margin-bottom: 50px;
}

.section__layout_gallery {
  margin-bottom: var(--marging-s);
}

.section__title {
font-weight: 700;
font-size: 18px;
line-height: 130%;
color: var(--article__title-color);
margin-bottom: 20px;
}

.article__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--accent-color);
  color: var(--sub-title-color);
  margin-bottom: 10px; /*везде*/
}

.article__sub__chapter {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--accent-color);
  color: var(--sub-title-color);
  margin-bottom: 10px;
  margin-top: 20px;
}

.article__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color:var( --main-text-color);
  margin-bottom: 20px; /*везде*/
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 6px;/*по макету 10*/
}

.image:last-child {
  margin-bottom: 0px;
}

.footer {
  block-size: 100vh; /*min  100vh - ОТЛАДКА!  высота 668px на 375,  высота 1024 на 768;  масштабируем от телефона до планшета clamp(41.75rem, 20.5191rem + 90.5852vw, 64rem), по условию все же 100vh*/
  min-block-size: 668px; /* - min для мобильной версии - ОТЛАДКА!!!*/
  /*max-block-size: 1024px; *//*отладка, удалить строку*/
  width: 100%;
  padding: var(--padding-s);
  display: grid;
  grid-template-rows: repeat(3, auto); /*26px 595px 26px - под макет*/
  text-align: center;
}

.accent_shadowed__link {
  text-shadow: 2px 1px 0px var(--accent-color);
  text-decoration: none;
}

.accent_shadowed__link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--main-text-color);
}

.accent_shadowed__link:focus {
  outline: none;
}

.accent_shadowed__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/*для избежания сюрпризов все @media в конце*/

@media (width >= 768px) {

  .text__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);/*ОТЛАДКА 1024 планшет 120px */
  }

  .header {
    padding: var(--padding-m);
    grid-template-columns: 1fr 1fr;
    margin-bottom: var(--marging-m);
  }

  .recording_sign {
    position: absolute;
    top: calc(var(--padding-m) + 2px);
    right:  calc(var(--padding-m) + 20px);
  }

  header > .useless__decor {
    grid-row: 1;
    grid-column: 2;
  }

  .header__theme-menu {
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 30px;
  }

  header > .text__logo {
    grid-row: 3;
    grid-column: 1/3;
    margin-left: -20px;
  }

  .header__title {
    grid-row: 4;
    grid-column: 2;
  }

  .section {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);
    margin-bottom: 60px;
    column-gap: 20px;
  }

/*два типа статей, назовем их "a" и "b", что бы не привязываться к четности или конкретному виду, тем более, что он разный*/

  .section__layout_a {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section__layout_a .section__title {
    grid-column-start: 1;
    grid-row: span 3;
  }

  .section__layout_a article {
    grid-column-start: 2;
  }

  .section__layout_b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__layout_b article {
    grid-column: 1/4;
  }

  .section__layout_b .section__title {
    grid-column: 1/4;
    max-width: 30%;
  }

  .section__layout_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: dense;
    margin-bottom: var(--marging-m);
  }

  .section__layout_gallery .article__title {
    grid-column: span 3;
    margin-bottom: 0px;
  }

   .article__sub__chapter {
    margin-top: 0px;
  }

  .chapters {
    margin-top: 20px;
  }

  .image {
    block-size: 100%;
    margin: 0px;
  }

  .image:nth-child(2) {
    grid-row: 2;
    grid-column: 1/3;
  }

  .image:nth-child(3) {
    grid-row: 2/4;
    grid-column: 3;
  }

  .image:nth-child(4) {
    grid-column: 1;
    grid-row: 3/5;
  }

  .image:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .image:nth-child(6) {
    grid-column: 2/4;
    grid-row: 4;
  }

  footer > .text__logo {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }

  .footer {
    padding: var(--padding-m);
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    grid-row: 1;
    grid-column: 1/3;
    margin-bottom: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .header__theme-menu-list .header__theme-menu-item:not(:last-child) {
    margin-bottom: 0px;
  }

  .section__layout_a {
    column-gap: 10px;
  }

  .section__layout_b {
    column-gap: 20px;
  }

  .section__layout_b .article__title {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .section__layout_b article {
    grid-column: auto;
  }
}